@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



.fixed-timeline {
    position: fixed;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 50;
    color: white;
}

.timeline-label {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.timeline-line {
    width: 2px;
    height: 200px;
    background-color: white;
    margin: 10px 0;
}

.timeline-numbers {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    position: absolute;
    top: 60px;
    right: 0;
}

.timeline-number {
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}


.timeline-number.active {
    color: #FBD784;
    transform: scale(1.1);
}

.timeline-number:hover {
    color: #FBD784;
    transform: scale(1.1);
}
